* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
}

:root {
  --mainbuttonColor: #01ffa9;
  --backgroundTheme: #222222;
  --fontColor: #dcdcdc;
  --editbutton: #aaeec4;
  --deletebutton: #898989;
  --textArea: #f8f8f8;
  --mainSize: 1.5rem;
}

body {
  background-color: var(--backgroundTheme);
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  margin: 10vh auto;
  text-align: center;
  width: 60vw;
}
input#addTask {
  background-color: var(--textArea);
  padding: 10px 40px;
  font-weight: bold;
  font-size: var(--mainSize);
  border: solid 0.1rem var(--backgroundTheme);
  border-radius: 0.3rem;
}
button[type="submit"] {
  background-color: var(--mainbuttonColor);
  padding: 10px 40px;
  font-weight: bold;
  font-size: var(--mainSize);
  border: solid 0.1rem var(--backgroundTheme);
  border-radius: 0.3rem;
}

ul {
  display: flex;
  width: 60vw;
  flex-direction: column;
  margin-top: 3rem;
  align-items: center;
}
li {
  display: flex;
  width: 100%;
  justify-content: center;
}
li > button,
li > input,
li > span {
  padding: 0.2rem 2rem;
  font-size: var(--mainSize);
}
li > button {
  border: solid 0.1rem var(--backgroundTheme);
  border-radius: 0.3rem;
}
li > input,
li > span {
  color: var(--fontColor);
}

li > input {
    background-color: var(--editbutton);
    color: var(--backgroundTheme);
}

li> button:nth-of-type(1):hover {
    background-color: var(--editbutton);
transition: .3s;
} 
li> button:nth-of-type(2) {
    background-color: var(--deletebutton);
    transition: .3s;
}
li> button:nth-of-type(2):hover {
    background-color: red;
    transition: .3s;
}
